.dropdown-dialog {
  display: inline-block;
}

.dropdown-dialog .btn-menu {
  background: url("../../img/dotted-menu.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 20px;
  height: auto;
  border: none;
}

.dropdown-dialog .dropdown-menu {
  min-width: 14rem;
  background-color: #191f2b;
  color: #fff;
  border-color: #171d29;
  padding: 1rem 0 2.8rem 0;
  border-radius: 0;
}

.dropdown-dialog .dropdown-menu .dropdown-item {
  color: #fff;
  padding: 0.85rem 1.5rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.dropdown-dialog .dropdown-menu .dropdown-item:focus,
.dropdown-dialog .dropdown-menu .dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
