.container {
  padding-right: 25px;
  padding-left: 25px;
}
.px-remove-all {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.bg-fixed {
  background-attachment: fixed !important;
}
.bg-repeat {
  background-repeat: repeat !important;
}
.bg-no-repeat {
  background-repeat: no-repeat !important;
}
.block-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min--moz-device-pixel-ratio: 0) {
  summary {
    display: list-item;
  }
}

.hide {
  display: none;
}
.nv-sim-footer [type="submit"] {
  display: none;
}
.contextual {
  z-index: 99999;
}
.slider .contextual {
  top: 82px;
}
#toolbar-administration {
  z-index: 999999999;
  position: absolute;
}
.navbar.light .logo-dark {
  display: block !important;
}
.navbar.light .logo-light {
  display: none !important;
}
.bd-dark .navbar .logo-dark {
  display: none !important;
}
.bd-dark .navbar .logo-light {
  display: block !important;
}
.indented {
  margin-left: 40px;
}
[type="submit"] {
  padding: 12px 35px !important;
  border: 1px solid #1e1e1e !important;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  border-color: #75dab4 !important;
  color: #75dab4;
  font-family: inherit;
  text-transform: uppercase;
  width: auto !important;
}

.user-pass input,
.user-register-form input,
.user-login-form input,
.user-register-form select {
  width: auto;
}

.user-pass label,
.user-register-form label,
.user-login-form label {
  display: block;
}
.btn-simple {
  border: 0;
  padding: 15px 30px;
  background: rgba(255, 255, 255, 0.02);
  color: #75dab4;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  z-index: 2;
  cursor: pointer;
  margin-right: 0;
  margin-left: 0;
}
.simple-block input[type="email"] {
  padding: 15px;
  width: 100%;
  background: rgba(255, 255, 255, 0.01);
  border: 0;
  color: #fff;
}
.simple-block #edit-message {
  font-size: 12px;
}
.simple-block .form-item,
.form-actions {
  margin-top: 0;
}
iframe {
  width: 100%;
}
.contact .form [type="submit"] {
  width: auto;
  border: 1px solid;
  padding: 12px 26px;
  margin: 0;
  transition: all 0.5s;
}
.contact .form [type="submit"]:hover {
  color: #75dab4;
  border-color: #fff;
  background-color: #fff;
}
.search-results li {
  margin: 0px;
  border-bottom: 1px solid #dcdcdc;
  padding: 14px 0;
}

.search-results .search-result__title a {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 18px;
  font-style: normal;
}
.info.custom-font {
  display: table;
}
.info.custom-font > .author {
  display: table-cell;
}
.info.custom-font > .author > span {
  margin-right: 15px;
}
.info.custom-font > .tag {
  display: table-cell;
}

/* table style column align */
.views-align-left {
  text-align: left;
}
.views-align-right {
  text-align: right;
}
.views-align-center {
  text-align: center;
}
.views-view-grid .views-col {
  float: left;
}
.views-view-grid .views-row {
  float: left;
  clear: both;
  width: 100%;
}
.views-display-link + .views-display-link {
  margin-left: 0.5em;
}
.tokenomics {
  width: 750px;
  max-width: 98%;
}
.hero-head {
  position: relative;
  padding: 0;
  z-index: 1;
  overflow: hidden;
  box-sizing: content-box;
  min-height: 80vh;
}
.hero-head .overlay {
  background: rgb(12, 15, 21);
  background: linear-gradient(
    76deg,
    rgba(12, 15, 21, 1) 0%,
    rgb(14, 15, 20) 68%,
    rgba(23, 25, 34, 0.8) 100%
  );
  width: 38%;
  height: 100%;
  position: absolute;
  z-index: 1;
  filter: blur(30px);
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -ms-filter: blur(30px);
  -o-filter: blur(30px);
  transform: scale(1.6);
}
.hero-head video.fullscreen {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width: 80%;
  height: 100%;
  top: 80%;
  right: 60%;
  transform: translate(80%, -80%);
}
.hero-head video.fullscreen::-webkit-media-controls {
  display: none !important;
}
.hero-head .hero-content {
  position: relative;
  z-index: 2;
}
.hero-head .hero-content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 68px;
  font-weight: 700;
  line-height: 79px;
  letter-spacing: 1px;
  color: #fff;
}
.hero-head .hero-content h1 span {
  font-weight: 100;
}
.hero-head .hero-content p {
  color: #eee;
  font-size: 15px;
  font-weight: 500;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.hero-head .social-icon {
  position: absolute;
  right: 0;
  bottom: -30px;
  z-index: 1;
}
.hero-head .social-icon img,
.footer-half .cont .social-icon .social img {
  width: 16px;
  height: 13px;
}
.hero-head .social-icon a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: #fff;
  font-size: 13px;
  -webkit-transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
  -o-transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
  transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
}
.hero-head .social-icon a:hover {
  transform: scale(1.3);
}
.hero-head .social-icon a + a {
  margin-left: 8px;
}
.powered-section {
  color: #536079;
}
.powered-section * + * {
  margin-left: 10px;
}
.powered-section img {
  width: 80px;
  height: auto;
}
@media (max-width: 990px) {
  .hero-head {
    padding-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .hero-head .social-icon {
    position: relative;
    right: auto;
    bottom: auto;
    z-index: 1;
    margin-top: 40px;
    margin-left: -25px;
    margin-right: -25px;
  }
}
@media (max-width: 600px) {
  .hero-head .hero-content h1 {
    font-size: 46px;
    font-weight: 700;
    line-height: 60px;
  }
}
@media (max-width: 540px) {
  .hero-head .overlay {
    background: rgb(12, 15, 21);
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  .hero-head video.fullscreen {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}
